* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    color: white;
    background-color: blue;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    justify-content: flex-end;
}
.login {
    margin-left: 20px;
}
.dates {
    display: flex;
    justify-content: space-between;
}
.today {
    margin-left: 10px;
}
.header-container {
    color: black;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons, .subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
}
.image-grid-container {
    display: flex;
    justify-content: center;
}
.image-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.image-grid-item {
    width: 235px;
    height: 250px;
}
.first-item {
    order: 1;
}
.last-item {
    order: -1;
}
.footer {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}